apiVersion: v1
kind: Service
metadata:
  name: fast-service
  namespace: fastapi
spec:
  type: NodePort
  selector:
    app: fastapi-app
  ports:
  - port: 80
    targetPort: 8080
    nodePort: 30080
