name: Docker Image CI

on:
  push:
    branches: [ "main" ]

jobs:

  scan: 
    
    name: gitleaks
    
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      
      - name: Run Gitleaks
        uses: gitleaks/gitleaks-action@v2
        with:
          args: detect --source . --redact --verbose --exit-code 1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build:
    
    needs: scan

    runs-on: ubuntu-latest

    steps:
    
    - name: Checkout Code
      uses: actions/checkout@v4
    
    - name: Build the Docker image
      run: docker build -f email-fetch/Dockerfile --tag redzek/fastimage:v1
    
    - name: Login to Docker
      uses: docker/login-action@v3
      with:
         username: ${{ secrets.DOCKER_USERNAME }}
         password: ${{ secrets.DOCKER_TOKEN }}
    
    - name: Push the image
      run: docker push redzek/fastimage:v1


  
  
    
