name: Docker Image CI

on:
  push:
    branches: [ "main" ]

jobs:

  scan: 
    
    name: gitleaks
    
    runs-on: ubuntu-latest

    

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - name: Run Gitleaks
        uses: gitleaks/gitleaks-action@v2
        with:
          config-path: .gitleaks.toml
          args: detect --source . --redact --verbose --exit-code 1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ruff

      - name: Run Ruff
        continue-on-error: true 
        run: ruff check email-fetch/app --output-format=github
  
  sonarqube:
    
    name: SonarCloud
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: SonarCloud Scan
      uses: SonarSource/sonarqube-scan-action@v7
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_KEY }}
      with:
        projectBaseDir: email-fetch/app
        args:
          -Dsonar.organization=pavlovan-devops
          -Dsonar.projectKey=AnPavlov7070_telerik-devops-final
        
  build:
    
    needs: [scan, sonarqube]
       
    runs-on: ubuntu-latest

    steps:
    
    - name: Checkout Code
      uses: actions/checkout@v4
    
    - name: Build the Docker image
      run: docker build -f email-fetch/Dockerfile --tag redzek/fastimage:v1 email-fetch
    
    - name: Login to Docker
      uses: docker/login-action@v3
      with:
         username: ${{ secrets.DOCKER_USERNAME }}
         password: ${{ secrets.DOCKER_TOKEN }}
    
    - name: Push the image
      run: docker push redzek/fastimage:v1


  
  
    
