name: Docker Image CI

on:
  push:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    
    - name: Checkout Code
      uses: actions/checkout@v4
    
    - name: Build the Docker image
      run: docker build app -f app/Dockerfile --tag redzek/nodeapp:v1
    
    - name: Login to Docker
      uses: docker/login-action@v3
      with:
         username: ${{ secrets.DOCKER_USERNAME }}
         password: ${{ secrets.DOCKER_TOKEN }}
    
    - name: Push the image
      run: docker push redzek/nodeapp:v1

      
  

